@mixin background-center-cover-and-no-repeat(){
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin center-self(){
	justify-self: center;
    align-self: center;    
}

@mixin center-items(){
	justify-items: center;
	align-items: center;
	text-align: center;
}

@mixin same-width-height($value){
	height: $value;
	width: $value;
}

html{
   overflow-x: hidden;
}

body{
	position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90% 10% repeat(3, 90%) 15%;   
}

html, body{
   @include same-width-height(100%);
}

.big-size-section, .small-menu-container, #menu-dish-photo{
	@include background-center-cover-and-no-repeat();
}

#head-section{
    background-image: url(images/Head.jpg);
}

#header{
    color: black;
    position: absolute;
    display: grid;
    grid-template-columns: 30% 30% 37.5% 2.5%;
    top: 90%;
    z-index: 100;
    height: 10%;
    width: 100%;
    background-color: #fff;
	
	p{
    	margin: 0;
    }

    nav{
    	@include center-items();
	    grid-column-start: 3;
	    font-family: 'Oxygen';
	    font-size: 1em;
	    display: grid;
	    grid-template-columns: repeat(3, 1fr) 15%;

        #cart-open{
            cursor: pointer;
        }
	}
}
 
.logo{
    @include center-self();
    font-size: 2em;
    font-family: 'Oswald';
}

a{
    @include center-self();
    text-decoration: none;
    color: black;
}

.navigation{
    cursor: pointer;
}

#about-section{
    background-image: url(images/About.jpeg);
}

.about-content-block{
	@include center-items();
    font-size: 1.3em;
    position: relative;
    display: grid;
    top: 10%;
    width: 40%;
    margin-left: 50%;
    padding: 2%;
    text-align: justify;
    opacity: .9;
    background: #fff;
}

.titles{
    @include center-self();
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    font-weight: 100;
    margin: 0;
}

#menu-section{
    display: flex;
    background-image: url(images/Menu.jpg);
}

.big-menu-container{
	@include same-width-height(90%);
    display: grid;
    position: relative;
    grid-template-rows: 15% 85%;
    margin: auto;
    background: rgba(255,255,255, .95);
}

#medium-menu-container{
    display: grid;
    position: relative;
    grid-template-columns: repeat(3 , 1fr); 
    grid-auto-rows: auto;   
}

#container-menu, #container-contact{
    @include center-items();
    @include same-width-height(100%);
    grid-column-start: 2; 
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(6, 75%) 15%;
}

.empty-small-menu-container{
	@include same-width-height(75%);
    display: none;
}

.small-menu-container{
	@include same-width-height(75%);
    position: relative;
    margin: auto;
    margin-top: 0;
}

.false-container{
	@include same-width-height(100%);
    background: rgba(158,158,158,.6);
    transition: all .7s;
}

.menu-titles{
    @include center-items();
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    margin: 0;
    color: white;
    justify-content: center;
    transition: all .7s;
    cursor: pointer;
}

.small-menu-container:hover{
	.false-container{
	    cursor: pointer;
	    opacity: .5;
	}

	.menu-titles{
	    transform: scale(1.2);
	    text-shadow: 1px 1px 5px rgba(97,97,97 ,1);
	}
}

.small-menu-container:not(:hover){
	.false-container{
	    opacity: 0;
	}

	.menu-titles{
	    transform: scale(1);
	    text-shadow: 0 0 0 rgba(97,97,97 ,1);
	}
}

.salads{
    background-image: url(images/Salads.jpg);
}

.soups{   
    background-image: url(images/Soups.jpg);
}

.main-dishes{
    background-image: url(images/Main_Dishes.jpg);
}

.appetizer{
    background-image: url(images/Appetizer.jpg);
}

.desserts{
    background-image: url(images/Desserts.jpg);
}

.beverages{
    background-image: url(images/Beverages.jpg);
}

#contact-section{
    display: grid;
    grid-template-rows: 12.5% 87.5%;
    z-index: 10;
    background-image: url(images/Contact.jpg);

	.titles{
    	color: white;
	}
}

#medium-contact-container{
    @include same-width-height(100%);
    display: grid;
    grid-template-columns: repeat(3 , 1fr); 
    margin: 0;

    .titles{
    	color: black;
	}
}

.small-contact-container{
	@include center-items();
    width: 75%;
    height: 90%;
    background: rgba(255,255,255, .9);
    display: grid;
    grid-template-rows: 20% 80%;
    align-self: start;
    justify-self: center;
    margin: 0;
}

.small-contact-text-container{
    position: relative;
}

.text-center{
	@include same-width-height(100%);
	@include center-items();
    position: absolute;
    display: grid;
    margin: 0;
    font-family: 'Mukta Malar', sans-serif;
    font-size: 1em;
}

.contact-logos{
    font-size: 8em;
    cursor: pointer;
}

.contact-logos:hover{
    transition: .2s ease-in;
    transform: scale(1.2);
}

.contact-logos:not(:hover){
    transition: .2s ease-in;
    transform: scale(1);
}

.fa-facebook-f{
    color: #3b5999;
}

.fa-twitter{
    color: #55acee;
}

.fa-instagram{
    color: #e4405f;
}

.fa-envelope{
    color: #dd4b39;
}

#text-location{
    cursor: pointer;
}

.tooltip:before {
    content:attr(data-description);
    box-sizing:border-box;
    background:rgba(0,0,0,.7);
    color:white;
    padding:20px;
    position:absolute;
    top:-30px;
    margin-left:-100px;
    width:200px;
    line-height:25px;
    border-radius:5px;
    opacity:0;
    transition:.25s ;
    font-family: 'Oxygen';
}
 
.tooltip:after {
    content:'';
    position:absolute;
    top:35px;
    margin-left:-8px;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-top:8px solid rgba(0,0,0,.7);
    transition:.25s;
    opacity:0;
}
 
.tooltip:hover:before {
    opacity:1;
    top:0px;
}

.tooltip:hover:after {
    opacity:1;
    top:65px;
}

@media screen and (max-width: 1024px){
	.tooltip:before{
    	padding: 10%;
    	width: auto;
	}
}

@media screen and (min-width: 721px) and (max-width: 1024px){
    .tooltip:before{
    	margin-left: -80px;
  	}

  	.tooltip:hover:before{
    	top: 12px;
  	}

  	.tooltip:hover:after{
    	top: 100px;
  	}
}
 
@media screen and (min-width: 600px) and (max-width: 720px){
  	.tooltip:before{
    	margin-left: -60px;
  	}

  	.tooltip:hover:before{
    	top: 12px;
  	}

  	.tooltip:hover:after{
    	top: 100px;
  	}
}

@media screen and (max-width: 599px){
	.tooltip:before{
	    margin-left: -60px;
	}

	.tooltip:hover:before{
	    top: 5px;
	}

	.tooltip:hover:after{
	    top: 70px;
	}
}

@media screen and (max-width: 360px){
	.tooltip:before{
	    margin-left: -40px;
	}

	.tooltip:hover:before{
	    top: 15px;
	}

	.tooltip:hover:after{
	    top: 59px;
	}
}

#map-wrapper{
    position: absolute;
    z-index: 5;
    top: 280%;
    display: flex;
    min-width: 100%;
    min-height: 90%;
}

#map-container{
    width: 100%;
    min-height: 100%;
    margin-left: 100%;
    transition:  1.7s;
    background-color: grey;
}

#map-return-button{
    position: absolute;
    z-index: 20;
    top: 280%;
    display: flex;
    height: 90%;
    margin-left: -20%;
    transition: 2.5s;
}

#map-return-arrow-container{
	@include same-width-height(4em);
    z-index: 20;
    display: flex;
    margin: auto;
    opacity: .9;
    border-radius: 2em;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 0 5px #000;

    svg{
        transition: all 1s ease 0s;
    }
}

.fa-chevron-right{
    font-size: 2em !important;
    margin: auto;
    color: #fff;
}

#footer{
	@include center-items();
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 20% 60% 20%;
    background-color: #2A2A2A;
} 

.navigation-footer{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: 'Raleway', sans-serif;
}

.copyright{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3; 
    font-size: .75em;
}

#footer .navigation, .copyright, .copyright a{
    color: #bfb5b5;
}

.copyright, .copyright a{
    font-family: 'Montserrat', sans-serif;
}

 #menu-dish-photo-container{
    display: none;
    position: relative;
}

#menu-dish-photo{
	@include same-width-height(90%);
	@include background-center-cover-and-no-repeat();
    margin: auto;
}

#menu-dish-ingredients{
    position: absolute;
    display: flex;
    width: 90%;
    height: 20%;
    bottom: 5%;
    left: 5%;
    right: 5%;

	p{
	    width: 90%;
	    margin: auto;
	    text-align: justify;
	    font-family: 'Alegreya Sans', sans-serif;
	}
}

#menu-dish-list-container{
	@include same-width-height(100%);
    display: none;
}

#menu-dish-list{
	height: 90%;
    width: 95%;
    overflow-y: auto;
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.fa-cart-plus{
    cursor: pointer;
    opacity: 0;
    transition: 1s;
}

.menu-dish-list-item{
    position: relative;
    display: grid;
    grid-template-columns: 65% 20% 10% 5%;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 2.5%;
    padding: 1.5%;
    transition: 1s;
    cursor: pointer;
    align-items: center;

	p{
    	margin: 0;
    }
}

.menu-dish-list-item:hover{
    background-color: #b6b6b6b3;
    border-radius: 3px;

    .fa-cart-plus{
        opacity: 1;
    }

    .cart-plus{
        transition: 1s;
    }

    .cart-plus:hover{
        transform: scale(1.1);
    }

    .cart-plus:not(:hover){
        transform: scale(1);
    }
}

.back-button {
    position: absolute;
    cursor: pointer;
    display: none;
    top: 4%;
    left: 2.5%;
    font-size: 2em;
}

#cart-modal {
   @include same-width-height(100%);
    display: none; 
    position: fixed; 
    z-index: 100;
    left: 0;
    top: 0; 
    overflow: hidden; 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    height: 50%;
    position: relative;
}

.cart-header{
    margin-bottom: 5px;
    text-align: center;
    margin-top: 0;
    font-family: Raleway;
    height: 10%;
    font-weight: 100;
}

#close-cart-modal{
    float: right;
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
}

#close-cart-modal, .cart-remove-item{
    color: #aaa;
    font-size: 28px;  
    transition: 1s;
}

#close-cart-modal:hover, #close-cart-modal:focus, 
.cart-remove-item:hover, .cart-remove-item:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

#cart-table{
    width: 90%;
    height: 78%;
    display: none;
    grid-template-columns: 1fr;
    grid-auto-rows: 15%;
    font-family: 'Alegreya Sans', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    margin-bottom: 2%;

    .cart-first-row{
        position: sticky;
        top: 0;

        :first-child{
            grid-column-start: 2;
        };
    }

    .cart-last-row{
        :first-child{
            grid-column-start: 2;
        };
    }

    .cart-first-row, .cart-last-row{
        background-color: rgb(227, 227, 227);
    }

    .cart-table-row{
        @include same-width-height(100%);
        display: grid;
        grid-template-columns: 5% 45% 20% 15% 15%;
    }

    span{
        @include center-items();
    }

    .cart-item-name{
        justify-self: left;
        text-align: left;
    }

    .cart-quantity{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }

    #cart-total{
        grid-column-start: 5;
    }
}

.cart-button{
    height: 30px;
    width: 115px;
    margin: auto;
    display: none;
    background-color: #c3c4bd;
    cursor: pointer;

    span{
        margin: auto;
        font-family: 'Oxygen';
    }        
}

.order-list{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 10%;

    *:not(:first-child):not(:nth-child(2)){
        border-bottom: .5px solid grey;
    }

    *:nth-child(2n){
        @include center-items();
    }
}

#checkout-container{
    @include same-width-height(80%);
    margin: auto;
    font-size: .85em;
    font-family: Mukta Malar;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-buttons-container{
    display: flex;
    height: 15%;
}

.cart-one-text-container{
    @include same-width-height(80%);
    @include center-items();
    display: grid;
    margin: auto;
    color: #443f3f;
}

@media screen and (max-width: 840px) {
    #header{
        grid-template-columns: 30% 20% 45% 5%;
    }

    .about-content-block{
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 840px) and (orientation:landscape){
    .contact-logos{
        font-size: 5.5em;
    }

   .small-contact-container{
        width: 70%;
    } 
}

@media screen and (max-width: 840px) and (orientation:portrait){
    .contact-logos{
        font-size: 5em;
    }

   .small-contact-container{
        @include same-width-height(80%);
        margin: auto; 
    } 
}

@media screen and (max-width: 720px) {
    .titles{
        font-size: 1.5em;
    } 

    #header nav, .text-center, #footer{
        font-size: .75em;
    }

    .about-content-block{
        font-size: 1em;
    }
}

@media screen and (max-width: 480px){
    .titles{
        font-size: 1.25em;
    } 

    #header{
        grid-template-columns: 30% 10% 55% 5%;
    }

    #header nav, .text-center, #footer{
        font-size: .65em;
    }
    
    .logo, .menu-titles{
        font-size: 1.5em;
    }  

    .fa-cart-plus{
        opacity: 1;
    }

    #close-cart-modal{
        right: 5px !important;
        font-size: 1em;
        top: 0;
    } 

    #cart-table{
        width: 100%;
        font-size: .6em;
    }
}

@media screen and (max-width: 360px){
    #header{
        grid-template-columns: 30% 10% 57.5% 2.5%;
    }

    .logo, .menu-titles{
        font-size: 1.25em;
    }   

    .about-content-block{
        font-size: .75em;
    }

    #footer{
        grid-template-columns: 15% 70% 15%;
    }

    .text-center, #footer{
        font-size: .5em;
    }
}

@media screen and (max-width: 599px){
    .contact-logos{
        font-size: 4em;
    }

    #medium-menu-container{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    #menu-dish-ingredients p{
        font-size: .75em;
    }

    #menu-dish-list, #cart-table, .cart-remove-item, #check-out{
        font-size: .8em;
    }

    #close-cart-modal{
        right: 15px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) and (max-height: 736px) and (orientation:landscape){
    #header{
        grid-template-columns: 30% 10% 57.5% 2.5%;
    }

    .logo{
    	font-size: 1.25em; 
  	}

    .about-content-block{
        width: 80%;
        margin: auto;
    	
    	.titles{
        	font-size: 1.7em;
        }
    }

    #menu-back-button{
        top: 0;
    }

    #medium-menu-container{
        grid-template-columns: 20% 60% 20%;
    }

    .menu-dish-list-item{
        grid-template-columns: 60% 20% 10% 10%;
        margin: auto;
    }

    .cart-plus{
        text-align: center;
    }

    #menu-dish-ingredients p{
        font-size: .5em;
    }

    .small-menu-container{
        margin-top: 5%;
    }

    .empty-small-menu-container{
        display: block;
    }

    #container-contact{
        grid-template-columns: repeat(6, 50%) 15%;
    }

    #medium-contact-container{
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 1fr;
    }

    .small-contact-container{
        height: 65%;
        width: 75%;
        margin-top: 10%;
    }

    .navigation-footer{
        font-size: .75em;
    }

    .copyright{
        font-size: .6em;
        margin: 0;
    }

    .modal-content{
        height: 80%;
    }

    .cart-remove-item{
        font-size: 1em;
    }

    #checkout-container{
        font-size: 1em;
    }
}

@media screen and (min-width: 900px){
    .modal-content{
        width: 60%;
    }

    #checkout-container{
        font-size: 1em;
    }
}
 

