@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

html
{
    overflow-x: hidden;
}

body
{
    margin: 0;
}

html,
body
{
    height: 100%;
    min-height: 100%;
}

.big-size
{
    position: relative;

    width: 100%;
    height: 90%;

    background-position: center;
    background-size: cover;
}

#menu-promo
{
    position: relative;

    display: block;

    background-image: url(images/alvaro-serrano-133d380.jpg);
}

.header,
.header-const
{
    z-index: 1;

    display: flex;

    width: 100%;
    height: 10%;

    background-color: #fff;
}

.logo
{
    font-size: 30px;

    position: relative;
    bottom: 0;

    display: block;

    width: 40%;
    height: 90%;
    padding-top: .5%;
    padding-left: 5%;
}

.logo a
{
    font-family: 'Oswald';

    text-decoration: none;

    color: black;
}

.header ul
{
    font-family: 'Oxygen';

    display: flex;
    flex-direction: row-reverse;

    width: 60%;
    margin-left: 5%;
    padding-top: .5%;

    list-style: none;
}

.header ul li
{
    margin-right: 4%;
}

.header ul li a
{
    text-decoration: none;

    color: black;
}

#about
{
    position: relative;

    margin: 0;

    background-image: url(images/About.jpg);
    background-size: cover;
}

#about div
{
    font-size: 3vh;

    position: relative;
    top: 10%;

    display: block;

    width: 40%;
    margin-left: 50%;
    padding: 2%;
    padding-left: 3%;

    opacity: .9;
    background: #fff;
}

#about div h1
{
    margin: 0;
}

.title
{
    font-family: 'Dosis', sans-serif;
    font-weight: 100;

    margin-top: 0;
    margin-right: 0;

    text-align: center;
}

/*#delivery{
    margin: 0;
    padding-top: 5%;
    background-image: url(images/menu-header-compressed.jpg);
}

#delivery div{
    position: relative;
    width: 85%;
    height: 85%;
    margin-left: 5%;
    margin-right: 5%; 
    padding-top: 2%;
    padding-left: 3%;
    background: #fff; 
    opacity: 0.95;
}*/

#menu
{
    background-image: url(images/StockSnap_OOOHVWYCR8.jpg);
    display: flex;
}

.big-menu-container
{
    position: relative;
    
    width: 90%;
    height: 90%;
    margin: auto 5%;

    background: rgba(255,255,255, .95);
}

.big-menu-container .title{
    display: inline-block;
    height: 10%;
    width: 100%;
    margin: 0 ;
    padding-top: 1%;
    align-items: center;
}

.medium-menu-container{
    display: flex;
    width: 100%;
    height: 44%;
}

.center-container{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.small-menu-container
{
    position: relative;

    display: inline-block;

    width: 25%;
    height: 85%;
    margin: 0 auto;
    z-index: 3;
    text-align: center;  
}

.false-container{
    z-index: 5;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    background: rgba(158,158,158,.6); 
    opacity: 0;
}

.small-menu-container h1
{
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    display: block;

    width: 100%;
    height: 20%;
    line-height: 100%;
    text-align: center;
    margin: auto;    
}

.small-menu-container:hover .false-container{
    opacity: .5;
    transition: all .7s;
    cursor: pointer;    
}

.small-menu-container:hover > h1{
    transition: all .7s;
    font-size: 2.5em;
    text-shadow: 1px 1px 5px rgba(97,97,97 ,1);
}

.small-menu-container:not(:hover) .false-container{
    opacity: 0;
    transition: all .7s;
}

.small-menu-container:not(:hover) > h1{
    transition: all .7s;
    font-size: 2em;
    text-shadow: 0 0 0 rgba(97,97,97 ,1);
}

#salads{
    background: url(images/Salads.jpg) center; 
    background-size: cover;
}

#soups{
    background: url(images/Soups.jpg) center; 
    background-size: cover;
}

#main_dishes{
    background: url(images/Main_Dishes.jpg) center;
    background-size: cover; 
}

#appetizer{
    background: url(images/Appetizer.jpg) center; 
    background-size: cover;
}

#desserts{
    background: url(images/Desserts.jpg) center;
    background-size: cover; 
}

#beverages{
    background: url(images/Beverages.jpg) center;
    background-size: cover; 
}

#contact
{
    background-image: url(images/StockSnap_ODTWJA91CN.jpg);
}

#contact .title
{
    height: 5%;
    padding-top: 2%;

    color: white;
}

#contact div .title
{
    padding-top: 3%;

    color: black;
}

.social-container
{
    width: 100%;
    height: 85%;
}

.medium-social-container
{
    position: relative;

    display: inline-block;

    width: 65%;
    height: 50%;
}

.medium-social-container:nth-child(2)
{
    margin-top: 50%;
}

.social-contact
{
    position: relative;
    top: 4%;

    display: inline-block;

    width: 35%;
    height: 90%;
    margin-left: 5%;

    text-align: center;

    background: rgba(255,255,255, .9);
}

.social-contact:first-child
{
    margin-left: 20%;
}

.social-contact a
{
    font-size: 20vh;

    text-decoration: none;
}

.medium-contact-container
{
    float: right;

    width: 35%;
    height: 49%;
}

.time-of-work
{
    position: relative;
    top: 4%;

    display: inline-block;

    width: 60%;
    height: 90%;
    margin-left: 1%;

    text-align: center;

    background: rgba(255,255,255, .9);
}

.text-center
{
    width: 90%;
    margin-top: 15%;
    padding: 5%;
}

.text-center p
{
    margin: 5% 0;
}

#text-location
{
    margin-top: 15%;
}

.fa
{
    padding-top: 12%;
}

.fa:hover
{
    transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.fa:not( :hover )
{
    transition: all 200ms ease-in;
    transform: scale(1);
}

.fa-facebook
{
    color: #3b5999;
}

.fa-twitter
{
    color: #55acee;
}

.fa-instagram
{
    color: #e4405f;
}

.fa-envelope-o
{
    color: #dd4b39;
}

.location-container
{
    float: right;

    width: 50%;
    height: 100%;
}

#map
{
    position: absolute;
    z-index: 100;
    top: 280%;

    margin-left: 100%;
}

.map-return
{
    position: absolute;
    z-index: 1000;
    top: 325%;

    display: block;

    width: 4em;
    height: 4em;
    margin-top: -2.5%;
    margin-left: 100%;

    text-decoration: none;

    opacity: .9;
    border: 2px #d8d8d8 solid;
    border-radius: 100%;
    background: rgba(0, 0, 0, .7);
}

.map-return i
{
    font-size: 3em;

    position: relative;
    top: .04em;
    left: .4em;

    margin: 0;

    color: #fff;
}

footer
{
    /*top: 27%;*/
    font-size: 10px;

    position: relative;

    display: block;

    width: 100%;
    height: 2%;

    text-align: center;

    color: black;

    flex: 0 0 auto;
}

footer a
{
    text-decoration: none;

    color: black;
}
