@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

html
{
    overflow-x: hidden;
}

body
{
    margin: 0;
}

html,
body
{
    height: 100%;
    min-height: 100%;
}

.big-size
{
    position: relative;

    width: 100%;
    height: 90%;

    background-position: center;
    background-size: cover;
}

#menu-promo
{
    position: relative;

    display: block;

    background-image: url(images/alvaro-serrano-133d380.jpg);
}

header,
.header-const
{
    z-index: 100;

    display: flex;

    width: 100%;
    height: 10%;

    background-color: #fff;
}

.logo
{
    font-size: 30px;

    position: relative;
    bottom: 0;

    display: block;

    width: 40%;
    height: 90%;
    padding-top: .5%;
    padding-left: 5%;
}

.logo a
{
    font-family: 'Oswald';

    text-decoration: none;

    color: black;
}

header nav
{
    font-family: 'Oxygen';

    display: flex;
    flex-direction: row-reverse;

    width: 60%;
    margin-left: 5%;
}

header nav a
{
    margin: auto 4% auto 0;

    text-decoration: none;

    color: black;
}

#about
{
    position: relative;

    margin: 0;

    background-image: url(images/About.jpg);
    background-size: cover;
}

#about div
{
    font-size: 3vh;

    position: relative;
    top: 10%;

    display: block;

    width: 40%;
    margin-left: 50%;
    padding: 2%;
    padding-left: 3%;

    opacity: .9;
    background: #fff;
}

#about div h1
{
    margin: 0;
}

.title
{
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    font-weight: 100;

    margin-top: 0;
    margin-right: 0;

    text-align: center;
}

#menu
{
    display: flex;

    background-image: url(images/StockSnap_OOOHVWYCR8.jpg);
}

.big-menu-container
{
    position: relative;

    width: 90%;
    height: 90%;
    margin: auto 5%;

    background: rgba(255,255,255, .95);
}

.big-menu-container .title
{
    display: inline-block;

    width: 100%;
    height: 10%;
    margin: 0 ;
    padding-top: 1%;

    align-items: center;
}

.medium-menu-container
{
    display: flex;

    width: 100%;
    height: 44%;
}

.center-container
{
    display: flex;

    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.small-menu-container
{
    position: relative;
    z-index: 3;

    display: inline-block;

    width: 25%;
    height: 85%;
    margin: 0 auto;

    text-align: center;
}

.false-container
{
    position: relative;
    z-index: 5;

    display: inline-block;

    width: 100%;
    height: 100%;

    opacity: 0;
    background: rgba(158,158,158,.6);
}

.small-menu-container h1
{
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    font-weight: 100;
    line-height: 100%;

    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 20%;
    margin: auto;

    text-align: center;

    color: white;
}

.small-menu-container:hover .false-container
{
    cursor: pointer;
    transition: all .7s;

    opacity: .5;
}

.small-menu-container:hover > h1
{
    font-size: 2.5em;

    cursor: pointer;
    transition: all .7s;

    text-shadow: 1px 1px 5px rgba(97,97,97 ,1);
}

.small-menu-container:not(:hover) .false-container
{
    transition: all .7s;

    opacity: 0;
}

.small-menu-container:not(:hover) > h1
{
    font-size: 2em;

    transition: all .7s;

    text-shadow: 0 0 0 rgba(97,97,97 ,1);
}

#salads
{
    background: url(images/Salads.jpg) center;
    background-size: cover;
}

#soups
{
    background: url(images/Soups.jpg) center;
    background-size: cover;
}

#main-dishes
{
    background: url(images/Main_Dishes.jpg) center;
    background-size: cover;
}

#appetizer
{
    background: url(images/Appetizer.jpg) center;
    background-size: cover;
}

#desserts
{
    background: url(images/Desserts.jpg) center;
    background-size: cover;
}

#beverages
{
    background: url(images/Beverages.jpg) center;
    background-size: cover;
}

#contact
{
    background-image: url(images/StockSnap_ODTWJA91CN.jpg);
}
    
#contact .title{
    height: 8%;
    min-height: 8%;
    width: 50%;
    display: flex;
    top: 0;
    margin: 0 auto;
    justify-content: center;
    color: white;
    padding-top: 2%;
}

.medium-contact-container{
    width: 80%;
    height: 42.5%;
    min-height: 42.5%;
    display: flex;
    margin: 0 auto;
}

.social-contact{
    background: rgba(255,255,255, .9);
    width: 30%;
    height: 90%;
    min-height: 90%;
    margin: 0 auto auto auto;
    display: block;
}

.social-contact-title{
    color: black;
    display: flex;
    height: 18%;
    min-height: 18%;
    width: 100%;
    min-width: 100%;
    margin: 0;
    justify-content: center;
    padding-top: 2%;
    font-weight: 100;
    font-family: 'Dosis', sans-serif;
    font-size: 1.8em;
}


.social-contact a
{   
    text-align: center;
    min-height: 60%;
    margin: 5% auto; 
    font-size: 20vh;
    display: block;
    text-decoration: none;
}

.fa:hover
{
    cursor: pointer;
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.fa:not( :hover )
{
    transition: all 200ms ease-in;
    transform: scale(1);
}

.fa-facebook
{
    color: #3b5999;
}

.fa-twitter
{
    color: #55acee;
}

.fa-instagram
{
    color: #e4405f;
}

.fa-envelope-o
{
    color: #dd4b39;
}

.text-center
{
    width: 90%;
    height: 60%;
    display: flex;
     justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto 5%;
}

.text-center p{
    margin: 2.5% 0;
}

#text-location
{
    cursor: pointer;
}

#text-location dfn
{
    font-style: normal;
}

#text-location dfn:after
{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;

    position: absolute;
    z-index: 2;

    display: inline;

    width: 12%;
    margin: 0 -7%;
    padding: .5em .8em;

    content: attr(data-info);

    opacity: 0;
    color: #fff;
    background: rgba(0,0,0,.8);

    clip-path: polygon(0 10%, 5% 10%, 7.5% 0, 10% 10%, 100% 10%, 100% 100%, 0 100%);
}

#text-location dfn:hover::after
{
    top: 80%;

    transition: opacity 500ms, top 500ms;

    opacity: 1;
}

#text-location dfn:not(:hover):after
{
    top: 90%;

    transition: opacity 500ms, top 500ms;

    opacity: 0;
}

#map
{
    position: absolute;
    z-index: 100;
    top: 280%;

    margin-left: 100%;
}

.map-return
{
    position: absolute;
    z-index: 1000;
    top: 325%;

    display: flex;

    width: 4em;
    height: 4em;
    margin-top: -2.5%;
    margin-left: 100%;

    text-decoration: none;

    opacity: .9;
    border: 2px #d8d8d8 solid;
    border-radius: 100%;
    background: rgba(0, 0, 0, .7);
}

.map-return i
{
    font-size: 3em;

    position: relative;
    

    margin: auto;

    color: #fff;
}

footer
{
    /*top: 27%;*/
    font-size: 10px;

    position: relative;

    display: block;

    width: 100%;
    height: 2%;

    text-align: center;

    color: black;

    flex: 0 0 auto;
}

footer a
{
    text-decoration: none;

    color: black;
}
